.team_page{
    width: 100%;
    padding:20px;
    margin-left:20px;
    height: auto;
    background-color: #F2F2F2;
    /* padding:10px 10px; */
    /* margin-top: 122px; */
    font-family: "Microsoft JhengHei, arial";
    font-weight: bold;
    font-size: 28px;
}
.emailImage{
    width: 150px;
    height: 200px;

}
@media only screen and (max-width:500px){
    h1{
        font-size:x-large;
    }
    h4{
        font-size: medium;
    }
}